/* Write your global styles here, in PostCSS syntax */

@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply bg-slate-500 px-4 py-2 w-fit inline-block text-white rounded-md hover:bg-slate-600 motion-safe:transition-all;
	}
}

@tailwind components;

@tailwind utilities;
